/* -----------Content----------- */

.standardButton {
    color: #F2F2F2;
    background-color: #0F8243;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    outline: none;
}

.clickme {
    cursor: pointer;
}

input {
  margin:0 10px 0 10px;
}

#formtable {
    width:80%;
    margin: 0 auto;   
}

td {
    text-align:left;
    vertical-align:top;
    padding:10px;
}

p {
	margin:5px 5px 15px 5px;
}

h1 {
	margin:0px;
	padding:15px;
}

h2 {
	font-size:24px;
	line-height:24px;
	margin: 40px 0 0 0;
	padding: 3px 0 5px 0;
	font-weight:300;
}

h3 {
	font-size:1.3em;
}

h4 {
	padding-left:11px;
}