/* -----------Content----------- */

input {
  margin:0 10px 0 10px;
}

#formtable {
    width:80%;
    margin: 0 auto;   
}

td {
    text-align:left;
    vertical-align:top;
    padding:10px;
}

p {
	margin:5px 5px 15px 5px;
}

h1 {
	margin:0px;
	padding:15px;
}

h2 {
	font-size:24px;
	line-height:24px;
	margin: 40px 0 0 0;
	padding: 3px 0 5px 0;
	font-weight:300;
}

h3 {
	font-size:1.3em;
}

h4 {
	padding-left:11px;
}

#atAGlance {
	background-color: #EAEAEA;
	border: 1px solid #D0D2D3;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin: auto;
}

#atAGlance h4 {
	border-bottom: 1px solid #D0D2D3;
	padding: 20px 10px 20px 15px;
	margin:0px;
}

#atAGlanceContent {
	margin:15px;
}

.tooltip-inner {
  max-width: 400px;
  background-color: white;
  padding: 0px;
}

.tooltip-inner img {
  padding: 10px;
}

.tooltip-arrow {
  border-bottom-color: grey !important;
}

.tooltip.show {
  opacity: 1.0;	
}

#allCharts table a {
  display: block;
}

.tooltip.in {
  opacity: 1;
}

img {
  border: 1px solid grey;
}

nav ul li a img {
	border: 0px;	
}

[data-title="Type"] {
  text-transform: capitalize;
}

[data-title="Alt text"] {
  max-width: 250px;
}

[data-title="Title"] {
  max-width: 300px;
}

.standardButton {
  margin-top: 10px;
}

.container-custom {
	width:45%;
	margin:auto;
}

@media (max-width: 1400px) {
	.container-custom {
		width:60%;
	}
}

@media (max-width: 910px) {
	.container-custom {
		width:100%;
	}
}

.marketing {
	margin-top: 0;
}

.jumbotron {
	margin: 0;
}
