.dashboard {
	min-height:1100px;
}

/* -----------Boxes----------- */

.box1 {
	width:31%;
	height:350px;
	float:left;
	margin:1% 1%;
	border:1px solid #e6e3da;
}

.box2 {
	width:31%;
	height:350px;
	float:left;
	margin:1% 1%;
	border:1px solid #e6e3da;
}

.longbox {
	width:97%;
	height:350px;
	float:left;
	margin:1% 1.5%;
	border:1px solid #e6e3da;
}

.triplebox {
	width:99%;
	height:350px;
	float:left;
	margin:1% 0.5%;
}

.boxtable {
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-collapse:collapse;
	margin-top:100px;
}

.boxtable th {
	text-align:left;
	border-bottom:1px solid black;
	width:50%;
}

.data {
	text-align:right !important;
}


/* -----------Charts----------- */

.chart {
	margin:10px;
	height:90%;
}

/*------------------
@media screen and (max-width: 400px) {
	.box1 .highcharts-legend {
		display:none;
	}
	.highcharts-xaxis-labels {
		display:none;
	}
}

@media screen and (min-width: 1100px) {
		.highcharts-legend {
			display:block;
		}
}
-----------------*/
table {
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-collapse:collapse;
}

table th {
	text-align:left;
  vertical-align:bottom;
	border-bottom:1px solid black;
  padding:2px 5px;
}

table td {
	text-align:left;
  vertical-align:bottom;
  padding:2px 5px;
}

.table-right {
  text-align:right;
}

.table-center {
  text-align:center;
  padding:0 1px;
}

.table-empty {
  border:0px;
}

/* -----------Screen size control----------- */

@media screen and (max-width: 935px) {

	.triplebox {
		min-height:725px;
	}
	.box1 {
		min-width:46.7%;
	}
	.box2 {
		min-width:97%;
	}
	.dashboard {
		min-height:1450px;
	}
}

@media screen and (max-width: 850px) {
	.box1 {
		min-width:46%;
	}
	.dashboard {
		min-height:1650px;
	}
	.box1 {
		margin:1.5%;
		height:400px;
	}
	.box2 {
		height:400px;
	}
	.triplebox {
		height:825px;
	}
	.longbox {
		height:400px;
	}
}

@media screen and (max-width: 600px) {
	.triplebox {
		min-height:1240px;
	}
	.box1 {
		min-width:99%;
	}
	.box2 {
		min-width:99%;
	}
	.dashboard {
		min-height:2060px;
	}
	.longbox {
		height:400px;
	}
	.box1 {
		margin:1.5%;
		height:400px;
	}
	.box2 {
		height:400px;
	}
}