/* -----------Layout----------- */

body {
	font-family: Arial, Helvetica, sans-serif;
	margin:0 auto;
	width:100%;
	min-height:600px;
	background-color:#f2f2f2;
  vertical-align:middle;
	
}
header {
  background-color:#CCCCCC;
	border-top:5px solid black;
	border-bottom:5px solid black;
}
.heading {
  width:100%;
  height:100px;
	color:#fff;
	padding: 0;
	background-color:#414042;
}

#chartTable {
width:100%;
}
#chartTable th {
text-align:left;
padding:10px;
}

#chartTable td {
  text-align:left;
  margin-top:5px;
  margin-bottom:5px;
  padding:10px;
}

.tableText {
    text-align: left;
}

.tableData {
    text-align: right;
}

/* -----------Navigation----------- */

.currentpage {
	background-color:#323132;
	color:white;
}
/* -----------Content----------- */

.main {
	margin-left:10%;
	margin-right:10%;
	border-left:1px solid black;
	border-right:1px solid black;
	background-color:#eeeeee;
	padding: 20px;
}

.content li {
	margin-bottom:5px;
}

p {
	margin:5px 5px 15px 5px;
}

h1 {
	margin:0px;
	padding:15px;
}

h3 {
	font-size:1.3em;
}

.reporttable {
	max-width:100%;
	font-size:14px;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
	background-position-y:10px;
}

/* -----------Screen size control----------- */

@media screen and (max-width: 600px) {
.main {
		min-width:100%;
		margin:0;

}
body {
		padding-bottom:39px;
}
	.scrollToTop {
		width:100%;
		position:fixed;
		bottom:0px;
		right:0px;
		border-radius:0px;
		height:20px;
	}

}

@media screen and (max-width: 730px) {
	table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
		background-image:none;
	}
}

/* -----------Buttons----------- */

.dt-buttons {
    min-width:100%;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 0;
    border-radius:4px;
    font-weight:100;
    list-style: none;
    background-color: #0F8243;
}

.dt-buttons a {
    min-width:50%;
    float: left;
    margin: 0;
    text-align:center;
    border:0px;
    color: #fff;
    background-color: #0F8243;
    background-image:none;
}

a.dt-button:hover:not(.disabled) {
    border: none;
    background-color:#074021;
    background-image:none;
    color: #fff;
}

#dlbuttons {
	padding:10px 0px;
}

.standardButton {
    color: #F2F2F2;
    background-color: #0F8243;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    outline: none;
}

.standardButton:hover {
    background-color:#074021;
    color: #fff;
}
