.tableText {
    text-align: left;
}

.tableData {
    text-align: right;
}

.releaseTable {
    width: 47%;
    float: left;
    margin: 10px;
    text-align: left;
}

.TS, .pubToday, .MS {
    cursor:pointer;
}

@media screen and (max-width:1380px) {
  .releaseTable {
    width:100%;
    }
    table {
      width:100%
      }
}

.container {
  width:100%;
}

.dt-buttons{
  margin-bottom:-80px;
  margin-left:410px;
}

#releaseNotes {
	padding:10px 0px;
}
/*Overflow ideas
max-width: 385px;
min-width: 300px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
*/
